*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkcyan;
    color: white;
    
}

header {
    background-color: red;
    color: black;
    padding: 2rem;
    
}

.hero {
   background-color: brown;
   min-height: 30vh; 
}