*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkcyan;
    color: white;
    
}

header {
    background-color: red;
    color: black;
    padding: 2rem;
    
}

.hero {
   background-color: brown;
   min-height: 30vh; 
}

.contact {
    background-color: indianred;
    color: #f6f6f6;
    padding: 2rem;
    font-size: 2rem;
    
}

.footer {
    background-color: green;
    color: #f6f6f6;
    padding: 2rem;
    font-size: 2rem;
    
}

.project {
     background-color: goldenrod;
    color: #f6f6f6;
    padding: 2rem;
    font-size: 2rem;
    
}